[submodule "Extern/CommonlibSSE"]
	path = Extern/CommonlibSSE
	url = https://github.com/Exit-9B/CommonLibSSE
[submodule "Extern/CommonLibSSE"]
	path = Extern/CommonLibSSE
	url = https://github.com/SeaSparrowOG/CommonLibSSE
